@import "./src/variables.scss";

.square {
  position: relative;
  display: inline-block;
  height: $SIZE;
  width: $SIZE;
  border: 1px solid #ffffff;
  white-space: nowrap;
  cursor: pointer;
  background-color: rgba(173, 229, 255, 0.72);
  color: rgb(0, 0, 0);
  user-select: none;

  &--local {
    height: 15px;
    width: 15px;
    border:  none;
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom: $BORDER_SAVED;
    border-right: $BORDER_SAVED;
    &:first-child {
      border-left: $BORDER_SAVED;
    }
  }

  &--ship {
    background-color: rgb(208, 6, 6);
  }

  &--death {
    background-color: rgba(0, 255, 255, 0.55);
  }

  &--dndSuccess {
    background-color: rgba(127, 255, 0, 0.83);
  }

  &--dndUnsuccessful {
    background-color: rgba(255, 0, 0, 0.87);
  }

  &--damaged {
    &::before {
      $HIT_SIZE: $SIZE - 2;
      position: absolute;
      content: "";
      background-image: url("../../../assets/img/Hit.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 5px 1px;
      display: block;
      top: 0;
      left: 0;
      width: $HIT_SIZE;
      height: $HIT_SIZE;
      z-index: 15;
    }
  }

  &--missed {
    &::before {
      $HIT_SIZE: $SIZE - 2;
      position: absolute;
      content: "";
      background-image: url("../../../assets/img/Miss.png");
      background-size: $HIT_SIZE/1.5 $HIT_SIZE/1.5;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      top: 0;
      left: 0;
      width: $HIT_SIZE;
      height: $HIT_SIZE;
      z-index: 15;
    }
  }
  &--destroyed {
    background-color: rgba(255, 56, 56, 0.49);
    z-index: 5;
  }
}

.field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.field__wrapper {
  border: 1px solid white;

  &--relative {
    position: relative;
  }
}


