@import "src/variables";

.main {
  position: relative;
  height: 95vh;
  width: 100%;

  &--placement {
    transition: width 1s ease-out;
  }

  &--open {
    width: 100%;
  }

  &--compressed{
    width: calc(100% - 400px);
    @media (max-width: 1240px) {
      width: calc(100% - 200px);
    }
  }
}

.main__btns-wrapper {
  display: flex;
  gap: 20px;
  top: 15px;
  left: 1em;
  position: absolute;
  width: min-content;
}