.main {
  position: relative;
  background-image: url("../../assets/img/sea.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  width: 100%;
  transition: width 1s ease-out;

  &--open {
    width: 100%;
  }

  &--compressed{
    width: 75%;
  }
}

.main__btns-wrapper {
  display: flex;
  top: 1em;
  left: 1em;
  position: absolute;
  width: min-content;
}