@import "src/variables";

.savedPlacementMenu {
  z-index: 70;
  overflow-y: scroll;
  position: fixed;
  display: grid;
  grid-template-columns: min-content min-content;
  align-content: flex-start;
  height: 100%;
  width: 0;
  background-color: white;
  box-shadow: -10px 0 20px 0;
  top: 0;
  right: 0;
  padding-top: calc(5vh + 30px);
  transition: width 1s ease-out;
  overflow-x: hidden;



  &--open {
    width: $PLACEMENT_LIST_WIDTH;
    @media (max-width: 1240px) {
      width: $PLACEMENT_LIST_WIDTH / 2;
      grid-template-columns: min-content;
    }
  }

  &--close {
    width: 0;
    @media (max-width: 1240px) {
      grid-template-columns: min-content;
    }
  }

  & span {
    font-size: 30px;
    font-family: "Oswald", Arial,sans-serif;
    padding-left: 20px;
    white-space: nowrap;
    @media (max-width: 1240px) {
      min-width: 160px;
      font-size: 20px;
      white-space:normal;
    }
  }
}

.savedPlacementMenu__item {
  margin-left: 24px;
  margin-bottom: 24px;
  position: relative;
  font-size: 0;
  color: rgba(255, 255, 255, 0.02);
  width: min-content;
  height: 150px;
  @media (max-width: 1240px) {
    margin-left: 13px;
  }
}

.savedPlacementMenu__btn-close {
  z-index: 50;
  cursor: pointer;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  position: absolute;
  top: -16px;
  right: -22px;
  margin-right: 4px;
  transition: transform 0.4s ease-out;
  &:hover {
    transform: scale(1.2);
  }
}
