.square {
  display: inline-block;
  height: 30px;
  width: 30px;
  border: 1px solid red;

  &--ship {
    background-color: rgba(0, 0, 0, 0.43);
  }

  &--death {
    background-color: rgba(0, 255, 255, 0.55);
  }
}

.field {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 400px;
  height: 400px;
  align-items: center;
  border: 2px solid black;
}