.placement {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  position: relative;
  margin:0 auto;
  width: 1000px;
  background-color: rgba(0, 0, 0, 0);

}

.placement__wrapper {
  width: 1000px;
  height: 500px;
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.17);
  background-image: url("../../../assets/img/sky4.jpg");
  border-radius: 8px;
  box-shadow:  15px 15px 10px 0 rgba(0, 0, 0, 0.55);
}

.placement__box {
  min-width: 400px;
  height: 400px;

}

.placement__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin: 50px auto 0;
  border: 1px solid black;
  border-radius: 7px;
}