@import "src/variables";

$width: 850px;

.battle {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin: 30px auto 0;
  width: 1200px;
  height: 90%;
  z-index: 30;
}


.battle__stats {
  display: flex;
  justify-content: space-between;
  width: $width;
  margin-top: 90px;
  height: 150px;
}

.battle__waiting {
  align-items: flex-end;
  display: flex;
  width: 300px;
  height: 100%;
  padding: 10px;
}

.battle__waiting-box {
  vertical-align: bottom;
  white-space: nowrap;

  & span {
    color: white;
    font-family: "Oswald", Arial, sans-serif;
    font-size: 50px;
  }
}

.battle__name {
  display: flex;
  $HEIGHT: 70px;
  min-width: 180px;
  width: 30%;
  height: $HEIGHT;
  position: absolute;
  top: -$HEIGHT/2;
  right: 0; left: 0;
  margin: 0 auto;
  background: linear-gradient(#81e1ee, #98eaf8);
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.58);
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.58);
  padding: 15px;
  justify-content: center;
  align-items: center;

  & span {
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    letter-spacing: 2px;
  }
}

.battle__fields {
  position: relative;
  width: $width;

  height: 420px;
  display: flex;
  margin-top: 40px;

  justify-content: center;
  gap: $BATTLEFIELD_GAP;
  align-items: center;
  padding: 45px 15px 15px;
  background-color: rgba(0, 0, 0, 0.17);
  background-image: url("../../../assets/img/sky4.jpg");
  border-radius: 8px;
  box-shadow:  15px 15px 10px 0 rgba(0, 0, 0, 0.55);
}