@import "src/variables";

.btn-round {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  $size: 100px;
  width: $size;
  height: $size;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.54);
  background-color: coral;
  box-shadow: inset -5px -5px 5px 0 rgba(0, 0, 0, .5),
  inset 5px 5px 5px 0 rgba(255, 255, 255, 0.5),
  6px 6px 4px -2px;
  transition: width ease-out 0.2s;
  user-select: none;

  &:active{
    background-color: rgb(255, 212, 0);
    opacity: 0.75;
    box-shadow: inset -5px -5px 5px 0 rgba(0, 0, 0, .5),
    inset 5px 5px 5px 0 rgba(255, 255, 255, 0.5);
    transform: translateX(6px) translateY(6px);
  }

  &:hover{
    background-color: rgb(255, 212, 0);
  }

  &--random {
    background-color: rgb(0, 166, 255);
    & .btn-round__wrapper {
      background-image: url("../../../assets/img/random.svg");
    }
  }

  &--save {
    background-color: rgb(0, 166, 255);
    & .btn-round__wrapper {
      background-image: url("../../../assets/img/save.svg");
    }
  }

  &--play {
    background-color: #61d200;
    $size: 130px;
    width: $size;
    height: $size;
    & .btn-round__wrapper {
      background-image: url("../../../assets/img/play.svg");
    }
  }

  &--sound {
    background-color: #61d200;
    & .btn-round__wrapper {
      background-image: url("../../../assets/img/sound.svg");
    }
  }

  &--music {
    background-color: #61d200;
    & .btn-round__wrapper {
      background-image: url("../../../assets/img/music.svg");
    }
  }

  &--animation {
    background-color: #61d200;
    & .btn-round__wrapper {
      background-image: url("../../../assets/img/video.svg");
    }
  }

  &--back {
    z-index: $Z_INDEX__BTN;
    & .btn-round__wrapper {
      background-image: url("../../../assets/img/back.svg");
    }
  }

  &--settings {
    z-index: $Z_INDEX__BTN;
    & .btn-round__wrapper {
      background-image: url("../../../assets/img/settings.svg");
    }
  }

  &--placementMenu {
    z-index: $Z_INDEX__BTN;
    & .btn-round__wrapper {
      background-image: url("../../../assets/img/bookmark.svg");
    }
  }

  &--disable {
    background-color: rgba(102, 102, 102, 0.8);
    &:hover{
      background-color: rgb(102, 102, 102);
    }
  }

  &--off {
    background-color: rgb(255, 0, 0);
    &:hover {
      background-color: rgba(255, 212, 0, 0.6);
    }
  }
}

.btn-round__inside {
  display: flex;
  justify-content: center;
  align-items: center;
  $size: 83%;
  width: $size;
  height: $size;
  border-radius: 50%;
  border: 0.18em solid rgba(0, 0, 0, 0.55);
  box-shadow: inset -5px -5px 5px 0 rgba(0, 0, 0, .5),
  inset 5px 5px 5px 0 rgba(255, 255, 255, 0.5);

  background-color: rgba(0, 0, 0, 0.13);
}

.btn-round__wrapper {
  background-repeat: no-repeat;
  background-position: center center;
  width: 42px;
  height: 42px;
}

