.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__text {
  margin-top: 40px;
  color: white;

  & p {
    text-transform: uppercase;
    text-shadow: #0bd200 2px 2px 4px;
    font-family: "Oswald", Arial, sans-serif;
    letter-spacing: 5px;
    font-size: 40px;
    text-align: center;
  }
}

.menu__list {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 360px;
  width: 330px;

  border-radius: 20px;
  background-color: #040454;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.51);
}

.menu__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 95%;
  width: 95%;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.16);
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
}
