@font-face {
  font-weight: 500;
  font-family: "Oswald";
  font-style: normal;
  font-display: swap;
  src: local("Oswald"), url("./fonts/Oswald-VariableFont_wght.woff") format("woff"), url("./fonts/Oswald-VariableFont_wght.woff2") format("woff2");
}

//@font-face {
//  font-weight: 400;
//  font-family: 'Pangolin', cursive;
//  font-style: normal;
//  font-display: swap;
//  src: local('Pangolin'), url("fonts/Pangolin-Regular.ttf") format("ttf");
//}
