@font-face {
  font-weight: 500;
  font-family: "Oswald";
  font-style: normal;
  font-display: swap;
  src: local("Oswald"), url("assets/fonts/Oswald-VariableFont_wght.woff") format("woff"), url("assets/fonts/Oswald-VariableFont_wght.woff2") format("woff2");
}
